<div [id]="idContainer" class="main-container"> <!-- Parametrizo el id. Hay 2 forma de bindeo: unidireccional (el componente cambia a la vista, pero la vista no cambia al componete) - bidireccional (se comunican tanto la vista con el componete como el componente con la vista) -->
  <div class="with-external-footer">
     <div class="search-container">
        <div class="search-background-filter">
          <app-subheader></app-subheader>
           <!-- <div class="subheader-container">
              <div class="subheader-content">
                 <div class="subheader-links">
                    <a href="acerca_de.html">
                       <div class="subheader-link">
                          ACERCA DE
                       </div>
                    </a>
                    <a href="como_funciona.html">
                       <div class="subheader-link">
                          ¿CÓMO FUNCIONA?
                       </div>
                    </a>
                 </div>
              </div>
           </div> -->
           <app-search></app-search>
           <!-- <div class="search-content">
              <div class="search-title">
                 Registro Único de Audiencias<br>de Gestión de Intereses
              </div>
              <div class="search-form">
                 <div class="search-input">
                    <input type="text" id="search-text" placeholder="Buscar por funcionarios, dependencias, participantes de audiencias" value="">
                    <a href="busqueda.html"><button class="green" id="submit-search">BUSCAR</button></a>
                 </div>
                 <div class="advance-search-container">
                    <input type="checkbox" id="show-advance-search">
                    <label class="show-advance-search-label" for="show-advance-search">
                    <img src="assets/images/icon-marcador-derecha-blanco.svg" class="advance-search-icon">
                    Personalizá tu búsqueda
                    </label>
                    <div class="advance-search">
                       <div class="search-option">
                          <div class="search-description">
                             Rango de fechas
                          </div>
                          <input type="text" id="date-from" placeholder="Desde" class="date-input">
                          <input type="text" id="date-to" placeholder="Hasta" class="date-input">
                       </div>
                       <div class="search-option">
                          <div class="search-description">
                             Buscar solo por:
                          </div>
                          <div class="table">
                             <div class="table-row">
                                <div class="table-cell">
                                   <input type="checkbox" id="search-person">
                                   <label for="search-person">
                                   <img src="assets/images/icon-check-blanco.svg" class="checked">
                                   <img src="assets/images/icon-check-no-blanco.svg" class="not-checked">
                                   Personas físicas
                                   </label>
                                </div>
                                <div class="table-cell">
                                   <input type="checkbox" id="search-dependencies">
                                   <label for="search-dependencies">
                                   <img src="assets/images/icon-check-blanco.svg" class="checked">
                                   <img src="assets/images/icon-check-no-blanco.svg" class="not-checked">
                                   Dependencias del Poder Ejecutivo Nacional
                                   </label>
                                </div>
                             </div>
                             <div class="table-row">
                                <div class="table-cell">
                                   <input type="checkbox" id="search-representation">
                                   <label for="search-representation">
                                   <img src="assets/images/icon-check-blanco.svg" class="checked">
                                   <img src="assets/images/icon-check-no-blanco.svg" class="not-checked">
                                   Entidades públicas/privadas
                                   </label>
                                </div>
                                <div class="table-cell">
                                   <input type="checkbox" id="search-summary">
                                   <label for="search-summary">
                                   <img src="assets/images/icon-check-blanco.svg" class="checked">
                                   <img src="assets/images/icon-check-no-blanco.svg" class="not-checked">
                                   Motivo o síntesis de la audiencia
                                   </label>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="total-count">
                 </div>
              </div>
           </div> -->
        </div>
     </div>
     <app-footer></app-footer>
     <router-outlet></router-outlet> <!-- En esta seccion hay que mostrar el componente que esta siendo llamado por la ruta -->
     <!-- <div id="external-footer">
        <div class="footer-content-wrapper">
           <div class="footer-content">
              <div class="footer-section first">
                 <p class="social-links">
                    <a href="https://www.facebook.com/MinInteriorAR" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/ministeriodelinterior/" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.flickr.com/photos/mininteriorar" target="_blank">
                    <i class="fa fa-flickr" aria-hidden="true"></i>
                    </a>
                    <a href="https://twitter.com/MinInteriorAR" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.youtube.com/user/mininterior" target="_blank">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                 </p>
                 <img src="assets/images/logo-ministerio.svg" class="logo-ministerio">
                 <p>Sitio desarrollado por <a href="https://www.argentina.gob.ar/modernizacion">Ministerio de Modernización</a>.</p>
                 <p>Los contenidos de <a href="http://audiencias.mininterior.gob.ar/">audiencias.mininterior.gob.ar</a> están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/legalcode">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
              </div>
              <div class="footer-section second">
                 <p>
                    <a target="_blank" href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/90000-94999/90763/norma.htm">Decreto</a>
                 </p>
                 <p>
                    <a href="acerca_de.html">Acerca de</a>
                 </p>
                 <p>
                    <a href="como_funciona.html">¿Cómo funciona?</a>
                 </p>
              </div>
              <div class="footer-section third">
                 <p>
                    Para más información, comentarios y sugerencias, por favor comuníquese con la Dirección Nacional de Relaciones con la Comunidad y Participación Ciudadana
                 </p>
                 <p>
                    <a href="mailto:registroaudiencias@mininterior.gob.ar">registroaudiencias@mininterior.gob.ar</a>
                 </p>
                 <p>
                    (011) 4339-0800 interno 71173 / 71655 / 71122
                 </p>
              </div>
           </div>
        </div>
     </div> -->
     </div>
</div>
<app-header></app-header> <!-- El nombre que aparece en el ts del componente NO PUEDE HABER COLISIONES DE SELECTORES  -->
<!--<div id="header">
  <div id="header-shadow">
     <div id="header-container">
        <div id="header-content">
           <div class="both-logos">
              <a href="https://audiencias.mininterior.gob.ar/">
              <img src="assets/images/logo-ministerio.svg" id="logo-ministerio">
              </a>
              <a target="_blank" href="http://www.mininterior.gob.ar/asuntospoliticos/reformainstitucional.php"> <img src="assets/images/logo-secretaria.svg" id="logo-subsecretaria"> </a>
           </div>
        </div>
     </div>
  </div>
  <div id="user-menu-container">
     <div id="user-menu">
        <a href="https://audiencias.mininterior.gob.ar/intranet/configuracion">
           <div class="user-menu-action" id="settings">
              Configuración
           </div>
        </a>
        <a href="https://audiencias.mininterior.gob.ar/intranet/ayuda">
           <div class="user-menu-action" id="help">
              Ayuda
           </div>
        </a>
        <a href="acerca_de.html">
           <div class="user-menu-action" id="about">
              Acerca de
           </div>
        </a>
        <a href="https://audiencias.mininterior.gob.ar/salir">
           <div class="user-menu-action" id="logout">
              Cerrar sesión
           </div>
        </a>
     </div>
  </div>
</div>-->
<div id="error-bar" class="hidden">
  <div id="error-bar-spacer">
     <div id="error-bar-content">
        <img src="assets/images/icon-cancelar-blanco.svg" class="hide-error-bar">
        Ha ocurrido un error inesperado. Verifique que su conexión a internet esté funcionando y vuelva a intentar.
     </div>
  </div>
</div>
<div class="pika-single is-hidden is-bound" style="position: static; left: auto; top: auto;"></div>
<div class="pika-single is-hidden is-bound" style="position: static; left: auto; top: auto;"></div>

<!-- Ejemplo de primer clase
<p>¡Hola {{ title }}!</p> title es un atributo de la clase y esto se conoce como interpolacion

<p>¡Hola {{ saluda() }}!</p> podemos llamar a metodos -->
